version: '3.7'
services:
  ssh:
    build:
      context: .
      args:
        # From .env file
        - "ALPINE_VERSION=${ALPINE_VERSION}"
    user: root
    volumes:
      - ~/.ssh/id_rsa:/root/.ssh/id_rsa
      - ~/.ssh/id_rsa.pub:/root/.ssh/id_rsa.pub